/*****Navigation Styles*****/

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar {
	    border: white 2px solid;
}





/******Schedule Page Styles******/


body {
	background-color: #000000 ;
}

.container.page-body {
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
}


#jumbo_schedule{
	background: url("Images/CougarWrestling2019.jpg") center center / cover no-repeat;
}